src/main/resources/public/About.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="Detail">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Information" type="xsd:string"/>
<xsd:element name="Discount" type="xsd:string" />
<xsd:element name="Since" type="xsd:string"/>
<xsd:element name="Original_price" type="xsd:string"/>
<xsd:element name="Sale_price" type="xsd:string"/>
<xsd:element name="Availability" type="xsd:string"/>
<xsd:element name="SKU" type="xsd:string"/>
<xsd:element name="Size" type="xsd:string"/>
<xsd:element name="Color" type="xsd:string"/>
<xsd:element name="Material" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
